.slider-container {
  max-width: 400px;
}
.swiper {
  /* width: 600px; */
  /* height: 300px; */
}
.swiper-slide {
  width: 100%;
}
.swiper-slide a {
  display: block;
  /* width: 600px; */
  /* height: 600px; */
}
.swiper-slide img {
    display: block;
    width: 100%;
    /* height: 600px; */
}